<h1>Listing purchases</h1>

<table>
  <thead>
    <tr>
      <th>Purchase</th>
      <th>Ammount</th>
      <th>Date of purchase</th>
      <th>Num of reservatrion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.purchase_id %></td>
        <td><%= purchase.ammount %></td>
        <td><%= purchase.date_of_purchase %></td>
        <td><%= purchase.num_of_reservatrion %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
