<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number_of_reservations %><br>
    <%= f.number_field :number_of_reservations %>
  </div>

  <div class="actions">
    <%= hidden_field_tag :tour_id, params[:tour_id]%>
    <%= f.submit %>
  </div>
<% end %>
