<p id="notice"><%= notice %></p>

<p>
  <strong>Number of reservations:</strong>
  <%= @purchase.number_of_reservations %>
</p>

<p>
  <strong>tour id</strong>
  <%= @purchase.tour_id %>
</p>

<p>
  <strong>username</strong>
  <%= @purchase.profile_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.tour.price *  @purchase.number_of_reservations %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
