<%= form_for(@web_user) do |f| %>
  <% if @web_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_user.errors.count, "error") %> prohibited this web_user from being saved:</h2>

      <ul>
      <% @web_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
