<h1>Listing web_users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ip</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @web_users.each do |web_user| %>
      <tr>
        <td><%= web_user.user_id %></td>
        <td><%= web_user.ip %></td>
        <td><%= link_to 'Show', web_user %></td>
        <td><%= link_to 'Edit', edit_web_user_path(web_user) %></td>
        <td><%= link_to 'Destroy', web_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web user', new_web_user_path %>
