<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @web_user.user_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @web_user.ip %>
</p>

<%= link_to 'Edit', edit_web_user_path(@web_user) %> |
<%= link_to 'Back', web_users_path %>
