<h1>Listing tours</h1>

<%= form_tag tours_path, :method => 'get', :id => "tours_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="tours"><%= render 'tours' %></div>
<% end %>



<%= link_to 'New Tour', new_tour_path, class: 'button success' %>
